body {
  background: #d9b650;
}

h1,
p {
  text-align: center;
}

a {
  text-align: center;
}

footer a {
  margin: 0 10px;
  color: brown;
}

footer {
  text-align: center;
}

.image {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
